body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  text-align: center;
  background-color: #1f1f21;
  color: #b4b4c0;
}

#board {
  margin: 0 auto;
  max-width: 980px;
}

#board canvas {
  max-width: 100%;
}