body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  text-align: center;
  background-color: #1f1f21;
  color: #b4b4c0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
}

#board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px;
  height: 678px;
  background: #505459;
}

#board canvas {
  display: block;
  max-width: 100%;
}

.reset-button {
  position: absolute;
  top: 18px;
  right: 18px;
  appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #346186;
}

.game-over {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.game-over h2 {
  margin-top: 200px;
  font-size: 64px;
  color: white;
}

.game-over button {
  appearance: none;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  padding: 0.5em 1em;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: #346186;
}

.game-over.active {
  display: flex;
}

.content {
  margin: 0 auto;
  max-width: 550px;
  text-align: left;
  word-wrap: break-word;
}

a {
  color: whitesmoke;
}

.loader {
  width: 96px;
  height: 16px;
  display: inline-block;
  background-color: lightslategray;
  border: 1px solid lightslategray;
  border-radius: 4px;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    transparent 75%,
    transparent
  );
  font-size: 30px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 1s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}
